/* universal selector -- dont change */
*{
	margin: 0;
	box-sizing: border-box;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

/* --- Header text styling --- */
h1 {
	font-family: Times;
    font-size: calc(2px + 5vw); /* calc(2px + xvw) - makes text responsive, font size changes with page size*/
    color: black;
    margin: 1%;
	margin-top: 6%;
    text-align: center;
}

h2 {
	font-family: Times;
    font-size: calc(2px + 3.8vw);
    text-align: center;
}

h3{
	font-family: Times;
	font-size: calc(2px + 2.5vw);
	text-decoration: underline;
	margin-bottom: 0;
}

h4{
	font-size: calc(2px + 2vw);
	margin-top:0;
}

h5{
	font-size: calc(2px + 1.8vw);
	text-align: center;
}

h6{
	text-align: center;
	font-size: calc(2px + 1.2vw);
}

p{
	font-size: calc(2px + 1.2vw);
	margin: 3% 0;
}

blockquote {
	border-left: 5px solid grey;
	padding-left: 1em;
}

/*--- navigation --- */
nav {
	margin-top:1%;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    font-size: 100%;
	text-align: left;
}

nav a {
    margin: 0;
    color: black;
    padding: 1%;
	padding-top: 1%;
	padding-bottom: 10%;
	height: 4%;
	text-decoration: none;
}

nav a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
	padding: -100px;
	border-radius: 10px;
}

nav .current{
    color: black;
    background-color: rgba(0, 0, 0, 0.1); 
	padding: -100px;
	border-radius: 10px;
}

nav li {
    list-style-type: none;
    display: inline;
}

.navlogo {
	font-size: 300%; padding-top: -5%; display: inline;
}


/* --- header styling --- */
header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 1%;
}

header img{
    padding-bottom: .9%;
    padding-top: 0%;
    width: 5%;
    margin: 0px
}


/*TEXT*/

/* article = wrapper for all body text on every page. added by skyler */
article{
	font-family: "Aony";
    width: 90%;
	/* margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%; */
	margin: 5%;
    clear: both;

	min-height: 100vh;
}

 
/* --- styling for boxes ---  */
.box{

	display: flex;
    flex-direction: row; /* causes boxes inside this div to be placed next to each other in the same row / line */
    
    align-items: stretch;
    width: 100%;
}

/* styling for boxes with text */
.box-text{
	flex-direction: column; /* causes all elements inside this div to be placed in a column*/

	margin: 2%;

	padding: 3%;
	width: 50%;
	overflow: wrap;

	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}

/* styling for boxes with just an image inside */
.box-img{
	margin: 2%;
	width: 50%;
}

.box-img img{
	width: 100%;
	height: 100%;
	object-fit: contain; /* images will fill the entire box but may get cropped to fit */
	border-radius: 5px;
}

a {
	text-decoration: none;
}

/* --- homepage styling --- */
#home-box-about{
	width: 60%;
}

#home-box-contact{
	width: 40%;
}

/* --- past leadership styling --- */
.past-leadership{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
	height: 15vw;

	text-align: center;
}

.past-leadership .box-img{
	width: 20%;
	margin: 2%;

	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}

.past-leadership .box-img img{
	width: 100%;
  	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	/* display: block; */
}

.past-leadership .box-text{
	width: 80%;
	margin: 2%;
}


/* --- colloquium styling --- */
.colloquium-talk{
	margin: 2% 0;
}

.colloquium-talk h4{
	margin: 0.5% 0;
}

.colloquium-talk p{
	margin: 0;
}

.past-talks-box{
	width: 96%;
}


/* adds the underline to the header of sections (like the contact title on the home page) */
.section-header{
	border-bottom: 3px black solid;
	margin: auto;
	margin-bottom: 4%;
}

/* stuff that is only visible when on mobile */
.mobile-format{
	display: none;
}


/*FOOTER*/
footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2%;
    clear: both;
    position: static;
    /* z-index: 100;
    margin: 0; */
}

/* --- responsiveness --- */
/* when the size of the page changes (like going from desktop to mobile), the content changes so 
that it remains visible */

/* page is below 601px (phones / small tablets) */
@media screen and (max-width: 600px) {

	/* images moved to a column format rather than rows */
	.box{
		flex-direction: column;
	}

	.box-text, #home-box-about, #home-box-contact{
		width: 100%;
	}

	/*   */
	.box-img{
		display: none;
	}

	.past-leadership .box-img{
		display: inherit;
	}

	/* stuff that is only visible when on mobile */
	.mobile-format{
		display: block;
		margin: auto;
		max-width: 40vw;
	
		border-radius: 5px;
	}
}
