/* universal selector -- dont change */
*{
	margin: 0;
	box-sizing: border-box;
}

/* body{
    position: static;
} */

/* page {
	background-color: black;
	height: 100%
} */

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

h1 {
	font-family: Times;
    font-size: calc(2px + 5vw);
    color: black;
    margin: 1%;
	margin-top: 6%;
    text-align: center;
}

h2 {
	clear: both;
	font-family: Times;
    font-size: calc(2px + 3.8vw);
    text-align: center;
	/* font-style: italic; */
}

h3{
	font-family: Times;
	font-size: calc(2px + 2.5vw);
	text-decoration: underline;
	margin-bottom: 0;
}

h4{
	font-size: calc(2px + 2vw);
	margin-top:0;
}

p{
	font-size: calc(2px + 1.2vw);
}

blockquote {
	border-left: 5px solid grey;
	padding-left: 1em;
}

/*NAVIGATION*/
nav {
	margin-top:1%;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    font-size: 100%;
	text-align: left;
}
nav a {
    margin: 0;
    color: black;
    padding: 1%;
	padding-top: 1%;
	padding-bottom: 10%;
	height: 4%;
	text-decoration: none;
}
nav a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
	padding: -100px;
	border-radius: 10px;
}
nav .current{
    color: black;
    background-color: rgba(0, 0, 0, 0.1); 
	padding: -100px;
	border-radius: 10px;
}
nav li {
    list-style-type: none;
    display: inline;
}
.navlogo {
font-size: 300%; padding-top: -5%; display: inline;
}



/*HEADER*/
header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 1%;
}

header img{
    padding-bottom: .9%;
    padding-top: 0%;
    width: 5%;
    margin: 0px
}


/*TEXT*/
article{
	font-family: "Aony";
    width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
    clear: both;
}


/*ARTICLES BY TIME*/
table{
	float: left;
	clear: none;
	margin-left: 19%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 2%;
	width: 60%;
	overflow: wrap;
	border-style: solid;
	border-width: 10px 1px 1px 1px;
	border-radius: 10px;
	border-spacing: 0;
	
}

td a{
	width: 170%;
	float: left;
	color: black;
	padding: 1%;
	margin-left: 4%;
	border: 1px solid white;
	border-radius: 3px;
	z-index: 100;
}
td a:hover{
	background-color: lightblue;
}


/* BOXES - styling for every box on the page */
/* --- styling for boxes ---  */
.box{
	margin-bottom: 5%;

	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

/* styling for boxes with text */
.box-text{
	display: grid;
	align-items: center;

	margin: 2%;
	width: 50%;
	overflow: wrap;

	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}

.box-text h2{
	margin: 2%;
}

.box-text h3{
	margin: 2%;
	text-align: center;
}

.box-text h4{
	text-align: left;
}

.box-text p{
	margin: 2%;
}

/* styling for boxes with just an image inside */
.box-img{
	margin: 2%;
	width: 50%;
}

.box-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 5px;
}

.left {
	float: left;
	clear: none;
	margin-left: 1%;
	/* padding-left: 5%;
	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 2%; */
	width: 40%;
	overflow: wrap;
	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}
.left h2 {
	text-align: left;
	margin-left: 10%;
}
.left h3 {
	text-align: left;
	margin-top: -43px;
	margin-left: 10%;
	font-size: 120%;
}
.right {
	font-family: "Aony";
	float: right;
	clear: none;
	margin-right: 1%;
	padding-left: 5%;
	padding-top: 1%;
	padding-right: 9%;
	padding-bottom: 2%;
	width: 40%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
.right h2 {
	text-align: left;
	margin-left: 10%;
}

.right h3 {
	text-align: left;
	margin-left: 10%;
	margin-top: -43px;
	font-size: 120%;
}

/* --- homepage styling --- */
#homepage{
	margin-bottom: 5%;
	display: flex;
    flex-direction: row;
    width: 100%;
}

#homepage h4, #homepage p{
	text-decoration: none;
	text-align: left;
	margin: 0 5%;
}

a {
	text-decoration: none;
}



/* --- past leadership styling --- */
.past-leadership{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
	height: 15vw;

	text-align: center;
}

.past-leadership .box-img{
	width: 20%;
	margin: 2%;

	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}

.past-leadership .box-img img{
	width: 100%;
  	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	/* display: block; */
}

.past-leadership .box-text{
	width: 80%;
	margin: 2%;
}


/* 
misc {
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 4%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 30%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
misc subsection{
	width: 100%;
	border-style: solid;
	border-width: 0px 0 0px 0;
	float: left;
	padding: 5%;
}
statement {
	font-family: "Aony";
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 8%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 45%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
} */

/* adds the underline to the header of sections (like the contact title on the home page) */
.section-header{
	border-bottom: 3px black solid;
	width: 90%;
	margin: auto;
	margin-bottom: 4%;
}


.col-info {
	font-family: "Aony";
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 8%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 35%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}

.col-misc {
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 4%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 43%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
.col-misc subsection{
	width: 100%;
	border-style: solid;
	border-width: 0px 0 0px 0;
	float: left;
	padding: 5%;
}
/*FOOTER*/
footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2%;
    clear: both;
    position: static;
    /* z-index: 100;
    margin: 0; */
}

@media screen and (max-width: 700px) {
	.left, .right, .col-misc, .col-info, .col-misc  {
		width: 94%; 
		margin: 1%;
		padding: 2%;
		clear: both; 
		float: left;
	}

	.leadership-entry {
		overflow: hidden;
	}

	.leadership-entry img{
		clear: both;
		float: center;
		width: 94%;
		padding-left: 2%;
		padding-right: 2%;
		border-radius: 5px;
	}

	h1 {
		font-size: 350%;
		padding-top: 10%;
	}

	.navlogo{
		display: block;
		font-size: 210%;
	}
}

@media screen and (max-width: 350px) {

	.left, .right, .col-misc, .col-info, .col-misc {
	width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
	margin: 1%;
	padding: 2%;
	clear: both; /* The width is 100%, when the viewport is 800px or smaller */
	float: center;
	}

	h1 {
		font-size: 250%;
		padding-top: 10%;
		}

	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 130%;
	}

	.left h3, .right h3 {
		padding-top: 22px;
		font-size: 90%;
	}
		
	.navlogo{
		display: block;
		font-size: 150%;
	}
}

@media screen and (max-width: 200px) {

	.left, .right, .col-misc, .col-info, .col-misc {
		width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
		margin: 1%;
		padding: 2%;
		clear: both; /* The width is 100%, when the viewport is 800px or smaller */
	}

	h1 {
		font-size: 190%;
		padding-top: 10%;
	}

	h2 {
		font-size: 140%;
	}
		
	.navlogo{
		display: block;
		font-size: 100%;
	}
		
	p {
		font-size: 70%;
	}

}